<a href="https://colab.research.google.com/github/Rupneetk/intro_on_python_application/blob/master/Class3_Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# if statement--- move statement will be printed only when traffice_light changes to green
traffic_light= 'red'
if traffic_light=='green':
 print("move")

In [0]:
# Understanding the indentation
traffic_light= 'red'
if traffic_light=='green':
 print("move")
print("This statement is independant of if statement")

This statement is independant of if statement

In [0]:
#if and else statement... whenever the if statment is false else will be executed
traffic_light= 'red'
if traffic_light=='green':
 print("move")
else:
  print("don't move")

don't move

In [0]:
# use of if, elif and else statement
traffic_light= 'purple'
if traffic_light=='green':
 print("move")
 print("drive safe")
elif traffic_light== 'yellow':
  print('prepare to stop')
else:
  print('stop')

stop

In [0]:
# use of elif statement that allows you to check multiple statements 
traffic_light= 'red'
if traffic_light=='green':
 print("move")
 print("drive safe")
elif traffic_light== 'yellow':
  print('prepare to stop')
elif traffic_light=='red':
  print('stop')
else:
  print('invalid color')

stop

In [0]:
# range helps you to get numbers from 0 upto but not including the number
list(range(5))

[0, 1, 2, 3, 4]

In [0]:
# range(start, stop) -- allows you to start from a particular number
list(range(3,5))

[3, 4]

In [0]:
# range (start, stop, stepsize)
list(range(0,5,2))

[0, 2, 4]

FOR

In [0]:
# for loop using range function
for i in range (5):
  print(i**2,end=',')

0,1,4,9,16,

In [0]:
# for loop using list
shopping_list=['bread', 'butter', 'eggs']
for item in shopping_list:
  print(item)

bread
butter
eggs

In [0]:
# Nesting of loops
for item in shopping_list:
  if item == 'bread':
    print('it is there')
  else:
    print('not there')

it is there
not there
not there

while

In [0]:
i=2       # the delaration of the variable is importan without it loop will not run
while i<100:
  print('i', i, 'i**2',i**2)
  i=i**2    # this prevents loop from going into infinite loop

i 2 i**2 4
i 4 i**2 16
i 16 i**2 256

Math--- Moduel

In [0]:
import math

In [0]:
math.pi

3.141592653589793

In [0]:
math.log(2)

0.6931471805599453

In [0]:
math.log10(10)

1.0

In [0]:
math.sin(30)

-0.9880316240928618

PANDAS

In [0]:
import pandas as pd

In [0]:
from vega_datasets import  data

In [0]:
from vega_datasets import  local_data

In [0]:
# tells different datasets which are available
local_data.list_datasets()

['airports',
 'anscombe',
 'barley',
 'burtin',
 'cars',
 'crimea',
 'driving',
 'iowa-electricity',
 'iris',
 'la-riots',
 'ohlc',
 'seattle-temps',
 'seattle-weather',
 'sf-temps',
 'stocks',
 'us-employment',
 'wheat']

In [0]:
# the number of datasets in Vegas dataset
len(data.list_datasets())

70

The coding begin from here for Pandas..

In [0]:
import pandas as pd           # you have to import this library every time you want to work on pandas
from vega_datasets import  data       # required only if u need a dataset from this source

In [0]:
# Fetching data from 'data' and storing on a different variable called iris_data
iris_data=data.iris()

In [0]:
# check how your data looks like using head function ... use tail function also
iris_data.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [0]:
# helps you show the dataset as specified in the parenthese... (default value is 5)
iris_data.head(10)

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa
5          5.4         3.9          1.7         0.4  setosa
6          4.6         3.4          1.4         0.3  setosa
7          5.0         3.4          1.5         0.2  setosa
8          4.4         2.9          1.4         0.2  setosa
9          4.9         3.1          1.5         0.1  setosa

In [0]:
# get the genral information of data.. the type of data and size
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepalLength    150 non-null float64
sepalWidth     150 non-null float64
petalLength    150 non-null float64
petalWidth     150 non-null float64
species        150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [0]:
# gives satistical information about your data
iris_data.describe()

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [0]:
# tell about the unique values of species
iris_data.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [0]:
# usage of for loop in dataset
# grouby function is built in function that groups data
group_by=iris_data.groupby('species')
for name,  value in group_by ['petalLength']:
  print(name, value.max())

setosa 1.9
versicolor 5.1
virginica 6.9

New dataset

In [0]:
# stocks data
stocks_data=data.stocks()

In [0]:
stocks_data.head()

  symbol       date  price
0   MSFT 2000-01-01  39.81
1   MSFT 2000-02-01  36.35
2   MSFT 2000-03-01  43.22
3   MSFT 2000-04-01  28.37
4   MSFT 2000-05-01  25.45

In [0]:
stocks_data.symbol.unique()

array(['MSFT', 'AMZN', 'IBM', 'GOOG', 'AAPL'], dtype=object)

In [0]:
# using pivot function to seggregate data 
# the pivot table groups together data in a meaningful way
pivoted_table=stocks_data.pivot(index='date',columns='symbol',values='price')

In [0]:
# using tail function to see the data
pivoted_table.tail()

symbol        AAPL    AMZN    GOOG     IBM   MSFT
date
2009-11-01  199.91  135.91  583.00  125.79  29.27
2009-12-01  210.73  134.52  619.98  130.32  30.34
2010-01-01  192.06  125.41  529.94  121.85  28.05
2010-02-01  204.62  118.40  526.80  127.16  28.67
2010-03-01  223.02  128.82  560.19  125.55  28.80

HOMEWORK DATA SET

In [0]:
cars_data=data.cars()

In [0]:
cars_data.head(7)

                        Name  Miles_per_Gallon  ...       Year  Origin
0  chevrolet chevelle malibu              18.0  ... 1970-01-01     USA
1          buick skylark 320              15.0  ... 1970-01-01     USA
2         plymouth satellite              18.0  ... 1970-01-01     USA
3              amc rebel sst              16.0  ... 1970-01-01     USA
4                ford torino              17.0  ... 1970-01-01     USA
5           ford galaxie 500              15.0  ... 1970-01-01     USA
6           chevrolet impala              14.0  ... 1970-01-01     USA

[7 rows x 9 columns]